[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/CloudCodingSpace/GLFW
[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp
[submodule "slog"]
	path = libs/slog
	url = https://github.com/CloudCodingSpace/slog
